---
Language: Cpp
BasedOnStyle: LLVM

# 模板参数列表换行
AlwaysBreakTemplateDeclarations: Yes

# 大括号与语句不在同一行
BreakBeforeBraces: Allman

# 使用 Tab 进行缩进，Tab 大小为 4
UseTab: Always
TabWidth: 4
IndentWidth: 4


# 控制大括号换行
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# 括号与语句中包含空格
SpacesInParentheses: true
SpacesInSquareBrackets: true
SpacesInAngles: true
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# 宽松的代码风格
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# 换行规则
ColumnLimit: 130
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: true
# BeforeTrailingComments: true

# 空格规则
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: true

# 对齐规则
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# 命名空间缩进
NamespaceIndentation: All

# 其他
PointerAlignment: Left
SortIncludes: true
SortUsingDeclarations: true
